@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Poiret+One&display=swap');

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poiret One', cursive;
    height: auto;
}
.navdiv{
    background-color: black;
    color: white;
    position: fixed;
    opacity: 0.5;
    display: block;
    width: 100%;
    font-weight: bold;
}
.navdiv:hover{
    opacity: 1.0;
}
.navul{ 
    list-style: none;
    display: flex;
}
.navli{
    margin: 1vw;
    text-align: center;    
}
.mainbody{
    display: flex;
    flex-direction: column;
}
.coverimage{
    max-width: 100%;
    height: auto;
}
.body1{
    width: 100%;
}
.coverimagediv{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.upperbodytext{
    
    color: yellow;
    position: absolute;
    text-align: center; 
}
@media screen and (min-width: 601px) {
    .upperbodytext {
        font-size:larger;
        width: 40vw;
        right: 60px;
        top: 60vh;
        }
  }
  @media screen and (max-width: 600px) {
    .upperbodytext {
      font-size: 3vw;
      width: 45vw;
      right: 10px;
      top: 10vh;
      text-align: center;
    }
    #container {
        width: 100%;
        height: 15vh;
    }
}

/* experiment =========================================================*/


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 100vw;
    height: 20vh;
    border: solid 1px blue;
    /* filter: url(#threshold) blur(0.6px); */
}

svg{
    height: 0;
}

#text1,
#text2 {
    position: absolute;
    display: inline;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 5vw;
    text-align: center;
    user-select: none;
}
.footer{
    margin: 4%;
}
.footertext{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: medium;
}
.bold{
    font-weight: bold;
}